<%= turbo_frame_tag "content--editor--item-frame" do %>
  <h3 class="heading-three">Edit <%= item.model_name.human.downcase %></h3>
  <%= render item, path: katalyst_content.item_path(item) %>
<% end %>
