@mixin focus-outline {
  &:focus-visible {
    outline: none;

    &:is(a) {
      position: relative;
    }

    &:after {
      @include focus-content;
    }
  }
}

@mixin focus-content($color: var(--site-primary)) {
  pointer-events: none;
  border-radius: inherit;
  bottom: -2px;
  content: "";
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;

  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 0px 0px 2px $color, 0px 0px 0px 4px #f6f6f6;
}
