@mixin page-spacing {
  padding-left: 3vw;
  padding-right: 3vw;
}

@mixin break-page-spacing {
  margin-left: -3vw;
  margin-right: -3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.page-spacing {
  @include page-spacing;
}

.break-page-spacing {
  @include break-page-spacing;
}
