/* Spacing */

.content-item {
  --flow-space: var(--space-m);
  margin-block: var(--block-space, var(--space-m));
}

/* Themes */

[data-content-theme] {
  display: flow-root;
}

[data-content-theme] [data-content-theme] {
  margin-inline: calc(-1 * var(--gutter));
  padding-inline: var(--gutter);
}

[data-content-theme="light"] {
  background: var(--background, var(--background-color));
  color: var(--text-color);

  --text-color: var(--color-dark, black);
  --background: var(--color-light, black);
  --link-color: var(--color-dark, black);
}

[data-content-theme="dark"] {
  background: var(--background, var(--background-color));
  color: var(--text-color);

  --text-color: var(--color-light, white);
  --background: var(--color-dark, black);
  --link-color: var(--color-light, white);
}

/* Figures */

.content-item[data-content-item-type="figure"] {
  margin-inline: unset;
  text-align: center;

  img {
    margin-inline: auto;
  }
}
