<%= turbo_frame_tag "content--editor--item-frame" do %>
  <div class="content--editor--new-items" role="listbox">
    <%= render Katalyst::Content::Editor::NewItemComponent.with_collection(items) %>
  </div>
<% end %>
