<%# locals: (page:) %>

<div class="repel">
  <div>
    <h1>Edit page</h1>
    <span><%= link_to("Pages", [:admin, Page]) %> > <%= link_to(page.title, [:admin, page]) %></span>
  </div>

  <%= link_to("Delete", url_for(action: :show),
              class: "button",
              data:  { ghost_button: true, turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
</div>

<%= render("form", page:) %>
