@use "body";
@use "../utils/spacing";

.standard-width {
  display: grid;
  grid-template-columns: minmax(auto, 80rem);
  @include spacing.page-spacing;
}

.narrow-width {
  display: grid;
  grid-template-columns: minmax(auto, 55rem);
  @include spacing.page-spacing;
}

.page-width {
  display: grid;
  @include spacing.page-spacing;

  .standard-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.centered {
  justify-self: center;
}
