$grey-light: #f4f4f4 !default;
$grey: #ececec !default;
$grey-dark: #999 !default;
$table-hover-background: #fff0eb !default;
$primary-color: #ff521f !default;

$row-inset: 2rem !default;
$row-height: 3rem !default;

$table-header-color: $grey !default;
$row-background-color: $grey-light !default;
$row-hover-color: $table-hover-background !default;
$icon-active-color: $primary-color !default;
$icon-passive-color: $grey-dark !default;

$status-published-background-color: #ebf9eb !default;
$status-published-border-color: #4dd45c !default;
$status-published-color: #4dd45c !default;

$status-draft-background-color: #fefaf3 !default;
$status-draft-border-color: #ffa800 !default;
$status-draft-color: #ffa800 !default;

$status-dirty-background-color: #eee !default;
$status-dirty-border-color: #888 !default;
$status-dirty-color: #aaa !default;
