#skip-link a {
  position: absolute;
  top: -4rem;
  left: 1rem;
  -webkit-transition: top 1s ease-out;
  transition: top 0.5s ease-out;
  z-index: 100;

  &:focus {
    position: absolute;
    top: 1rem;
    outline-color: rgba(0, 0, 0, 0.33);
    -webkit-transition: top 0.1s ease-in;
    transition: top 0.1s ease-in;
  }
}
