[data-content--editor--table-target="content"] {
  position: relative;
  min-height: 8rem;

  &::after {
    content: "Paste table here";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }

  &:has(table)::after {
    content: unset;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    overflow: hidden;
  }

  th,
  td {
    border: 1px solid var(--color-mid, #9ca3af);
    padding: 0.25rem 0.5rem;
    text-align: left;
    vertical-align: top;
  }

  thead {
    background-color: var(--color-mid, #9ca3af);
  }

  tbody th {
    background-color: var(--color-tint, #f0ecf3);
  }
}
